

  <% camper = current_user %>
  <table class='table table-bordered'>
    <tbody>
      <tr>
        <td>
          <b>Name:</b> <%= "#{camper.last_name} #{camper.first_name} #{camper.other_names}"%>  </td>
          <td>
            <b>Gender: </b> <%= camper.gender %> <b>|</b>
            <b>Date of Birth: </b> <%= camper.date_of_birth %>
          </td>
      </tr>
      <tr>
        <td> <b>Phone Number: </b> <%= camper.phone_number %> </td>
        <td> <b>Email: </b> <%= camper.email %> </td>
      </tr>
      <tr>
        <td> <b>Nationality: </b> <%= camper.nationality %> </td>
        <td> <b>Residence: </b> <%= camper.residence %> </td>
      </tr>
      <tr>
        <td> <b>Arrival Day: </b> <%= camper.arrival_day %> </td>
        <td> <b>Arrival Time: </b> <%= camper.arrival_time %> </td>
      </tr>
      <tr>
        <% if camper.church[:type] == 'other'  %>
          <td> <b>Church: </b> <%= camper.church['name'] %> </td>
        <% else %>
          <td> <b>Church: </b> <%= camper.church['name'] %> </td>
        <% end %>

        <td> <b>Occupation: </b> <%= camper.occupation['type'] %> </td>
      </tr>
      <% if camper.occupation['type'] == 'student' %>
      <tr>
        <td>
          <b>Educational Level: </b> <%= camper.occupation['educational_level'] %>
        </td>
        <td>
          <b>School: </b> <%= camper.occupation['school'] %>  |
           <b>Location: </b> <%= camper.occupation['school_location'] %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td> <b>Emergency Contact: </b> <%= camper.emergency_contact %> </td>
        <td> <b>Contact Phone Number: </b> <%= camper.emergency_number %> </td>
        <td> <b>Allergies : </b> <%= camper.allergies %> </td>
      </tr>
    </tbody>
  </table>
