<!DOCTYPE html>
<html>
<head>
  <title>YouthCamp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_menu' %> 
  <%= render 'layouts/side_bar' %> 
  <div>
    <ui-view></ui-view>
  </div>
</body>
</html>
